* {
  box-sizing: border-box;
}

body {
  margin: 36px;
  color: #2e2f42;
  line-height: 1.5;
  letter-spacing: 0.04em;
}

.form {
  display: flex;
  justify-content: center;
  gap: 8px;
  margin-bottom: 32px;
}

.form > input {
  all: unset;
  width: 272px;
  padding: 8px 16px;
  border: 1px solid rgb(128, 128, 128);
  border-radius: 4px;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #808080;
}

.form > input:hover {
  border: 1px solid rgb(0, 0, 0);
}

.form > input:focus {
  border: 1px solid rgb(78, 117, 255);
  color: #2e2f42;
}

.form > button {
  padding: 8px 16px;
  border: none;
  border-radius: 8px;
  background: rgb(78, 117, 255);
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #ffffff;
}

.form > button:hover {
  background-color: #6c8cff;
}

.gallery {
  margin: 0 auto;
  width: 1132px;
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
  margin-bottom: 32px;
}

.gallery-image {
  width: 360px;
  height: 152px;
  object-fit: cover;
}

.gallery-list-item {
  width: calc((100% - 24px * 2) / 3);
  display: flex;
  flex-direction: column;
  border: 1px solid rgb(128, 128, 128);
}

.img-description {
  padding: 4px 20px;
  display: flex;
  justify-content: space-between;
}

.img-description-item {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.description-key {
  font-size: 12px;
  font-weight: 600;
  line-height: 1.5;
  letter-spacing: 0.04em;
}

.description-value {
  font-size: 12px;
  font-weight: 400;
  line-height: 2;
  letter-spacing: 0.04em;
}

.loader {
  display: none;
  margin: 0 auto;
  width: 48px;
  height: 48px;
  border-width: 3px;
  border-style: dashed solid solid dotted;
  border-color: #6c8cff #6c8cff transparent #6c8cff;
  border-radius: 50%;
  position: relative;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
}

.loader::after {
  content: '';
  box-sizing: border-box;
  position: absolute;
  left: 20px;
  top: 31px;
  border: 10px solid transparent;
  border-right-color: #6c8cff;
  transform: rotate(-40deg);
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.load-more-btn {
  display: none;
  margin: 0 auto;
  padding: 8px 16px;
  border: none;
  border-radius: 8px;
  background: rgb(78, 117, 255);
  color: #ffffff;
  font-family: inherit;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
}

.load-more-btn:hover {
  background: rgb(98, 127, 233);
}

.is-open {
  display: block;
}
